services:
  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"  # FastAPI default port
    volumes:
      - ./backend:/app
    command: uvicorn app:app --host 0.0.0.0 --port 5000

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    
    volumes:
      - ./frontend:/app
    command: npm start
    stdin_open: true
    tty: true